<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/spring-context.xsd">

	<bean class="com.wiley.SpringCore.A2ReferenceType.WileyB"
		name="wbref">
		<property name="count" value="99"></property>
	</bean>

	<bean class="com.wiley.SpringCore.A2ReferenceType.WileyA"
		name="waref">
		<property name="counta" value="90"></property>
		
		  <property name="obj">
			<ref bean="wbref" /> </property>
			
			
	</bean>


<!-- ///////////2:35///////-->

	<bean class="com.wiley.SpringCore.A2ReferenceType.Address" name = "wileyAddress">
	
	<property name = "address" value = "33, Sai Colony"></property>
	</bean>


	<bean class="com.wiley.SpringCore.A2ReferenceType.Student" name="wileystudent">
		<property name="studentId" value="1919"></property>
		<property name="studentName" value="Anmol"></property>
		<property name="studentAddress" value="Jabalpur"></property>
		<property name = "location">
			<ref bean = "wileyAddress"/>
		</property>
	</bean>
	
	
	


</beans>





































